<div>
  <dt><%= Wechat::Scene.human_attribute_name(:match_value) %></dt>
  <dd><%= @scene.match_value %></dd>
</div>
<div>
  <dt><%= Wechat::Scene.human_attribute_name(:qrcode_url) %></dt>
  <dd><%= image_tag @scene.qrcode_data_url, class: 'image is-128x128' %></dd>
</div>
