<div class="breadcrumb has-succeeds-separator">
  <ul>
    <li><%= link_to t('wechat.admin.wechat_apps.index.title'), { controller: 'apps' } %></li>
    <li><%= link_to @app.name, { controller: 'apps', id: @app.id } %></li>
    <li class="is-active"><%= t('.title') %></li>
  </ul>
</div>
