<div class="breadcrumb has-succeeds-separator">
  <ul>
    <li><%= link_to t('wechat.admin.apps.index.title'), { controller: 'apps' } %></li>
    <li><%= link_to @app.name, { controller: 'responses', anchor: "tr_#{@response.id}" } %></li>
    <li><span class="px-3"><%= @response.match_value %></span></li>
    <li class="is-active"><%= t('.title') %></li>
  </ul>
</div>
