<li><%= link_to t('wechat.panel.platforms.index.title'), { controller: 'platforms', anchor: "tr_#{params[:platform_id]}" } %></li>
<li><%= link_to t('wechat.panel.agencies.index.title'), { controller: 'agencies', anchor: "tr_#{@app.id}" } %></li>
<li><span class="px-3"><%= @app.name %></span></li>
<li class="is-active"><%= t('.title') %></li>
