<%= button_to({ action: 'sync', appid: params[:appid] }, method: :post, class: 'button is-rounded is-primary') do %>
  <%= svg_tag 'rotate' %>
  <span class="ml-1"><%= t('.sync.title') %></span>
<% end %>
