<%= form_with theme: 'search', model: Wechat::WechatUser.new do |f| %>
  <div class="field-body">
    <%= f.text_field :name, value: params[:name] %>
    <div class="field is-narrow">
      <%= f.submit %>
      <%= link_to t('.clear'), filter_params(except: [:name, 'wechat_user_tags.tag_id']), class: 'button is-light' %>
    </div>
  </div>
<% end %>
