<% @registers.each do |register| %>
  <% if register.done? %>
    <%= render partial: 'register_done', locals: { register: register } %>
  <% else %>
    <%= render partial: 'register', locals: { register: register } %>
  <% end %>
<% end %>

<% if @registers.blank? %>
<div class="weui-panel">
  <%= link_to({ action: 'new' }, class: 'weui-btn_cell weui-btn_cell-primary') do %>
    <span class="weui-btn_cell__icon"><i class="fas fa-plus"></i></span>
    <span><%= t('.new') %></span>
  <% end %>
</div>
<% end %>
