<% @wechat_registers.each do |wechat_register| %>
  <% if wechat_register.done? %>
    <%= render partial: 'wechat_register_done', locals: { wechat_register: wechat_register } %>
  <% else %>
    <%= render partial: 'wechat_register', locals: { wechat_register: wechat_register } %>
  <% end %>
<% end %>

<% if @wechat_registers.blank? %>
<div class="weui-panel">
  <%= link_to new_my_wechat_register_path, class: 'weui-btn_cell weui-btn_cell-primary' do %>
    <span class="weui-btn_cell__icon"><i class="fas fa-plus"></i></span>
    <span><%= t('.new') %></span>
  <% end %>
</div>
<% end %>
