<tr>
  <td class="has-text-right"><%= Wechat::Scene.human_attribute_name(:match_value) %></td>
  <td><%= @scene.match_value %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Wechat::Scene.human_attribute_name(:qrcode_url) %></td>
  <td>
    <%= image_tag @scene.qrcode_data_url, class: 'image' %>
  </td>
</tr>
