<div class="tabs is-boxed">
  <ul>
    <li class="<%= active_helper(action: 'invite_qrcode', active: 'is-active') %>">
      <%= link_to({ action: 'invite_qrcode' }) do %>
        <span>邀请记录</span>
      <% end %>
    </li>
    <li class="<%= active_helper(action: 'requests', active: 'is-active') %>">
      <%= link_to({ action: 'requests' }) do %>
        <span>邀请结果</span>
      <% end %>
    </li>
  </ul>
</div>
