<%= render 'head' %>

<div class="box is-padding-less mx-3 mt-0 mb-4 is-radiusless" style="padding-top: 1px">
  <div class="weui-panel__bd">
    <div class="weui-cells mt-0">
    <% if @requests.blank? %>
      <%= render partial: 'gift_content' %>
    <% else %>
      <%= render partial: 'request', collection: @requests, as: :request %>
    <% end %>
    </div>
  </div>
</div>

<%= paginate @requests, window: 1 %>

<div
  data-controller="mask"
  data-action="click->mask#close"
  class="weui-mask-share"
  id="mask"
  style="display: none"
>
</div>
