<th>
  <p><%= Wechat::PlatformTemplate.human_attribute_name(:template_id) %></p>
  <p><%= Wechat::PlatformTemplate.human_attribute_name(:user_version) %></p>
</th>
<th><%= Wechat::PlatformTemplate.human_attribute_name(:audit_status) %></th>
