<div class="breadcrumb has-succeeds-separator">
  <ul>
    <li><%= link_to t('wechat.admin.apps.index.title'), { controller: 'apps' } %></li>
    <li><%= link_to @app.name, { controller: 'apps', id: @app.id } %></li>
    <li><%= link_to t('wechat.admin.responses.index.title'), { controller: 'responses' } %></li>
    <li class="is-active"><%= @response.match_value %></li>
  </ul>
</div>
