<th>
  <p><%= Wechat::App.human_attribute_name(:name) %></p>
  <p class="color-grey"><%= Wechat::App.human_attribute_name(:organ_id) %></p>
</th>
<th><%= Wechat::App.human_attribute_name(:appid) %></th>
<th></th>
