<div>
  <dt><%= MenuRoot.human_attribute_name(:name) %></dt>
  <dd><%= @menu_root.name %></dd>
</div>
<div>
  <dt><%= MenuRoot.human_attribute_name(:position) %></dt>
  <dd><%= @menu_root.position %></dd>
</div>
