<th><%= Wechat::Agent.human_attribute_name(:name) %></th>
<th>
  <p><%= Wechat::Agent.human_attribute_name(:corpid) %></p>
  <p><%= Wechat::Agent.human_attribute_name(:agentid) %></p>
</th>
<th>
  <p><%= Wechat::Agent.human_attribute_name(:domain) %></p>
</th>
