<%= render layout: 'layouts/qy_wechat_head' do %>
  <%= render 'nav_bar' %>
  <div id="alert"></div>
  <turbo-frame id="main" refresh="morph" data-turbo-action="advance" class="columns is-vcentered background-login">
    <%= yield %>
  </turbo-frame>
  <%= render 'footer' %>
<% end %>
