<%= render layout: 'layouts/qy_wechat_head' do %>
  <%= render 'nav_bar' %>
  <div id="alert"></div>
  <main class="columns is-vcentered background-login">
    <%= yield %>
  </main>
  <%= render 'footer' %>
<% end %>
