<tr>
  <td class="has-text-right"><%= Org::Organ.human_attribute_name(:name) %></td>
  <td><%= @organ.name %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Org::Organ.human_attribute_name(:corp_id) %></td>
  <td><%= @organ.corp_id %></td>
</tr>
