<li><%= link_to t('.apps.index.title'), { controller: 'apps' } %></li>
<li><%# link_to @response.app.name, { controller: 'apps', action: 'show', id: @response.app } %></li>
<li><%# link_to t('.responses.index.title'), { controller: 'responses', app_id: @response.app } %></li>
<li class="is-active"><%= t('.title') %></li>
