<%= button_to({ action: 'sync', appid: params[:appid] }, method: :post, class: 'button is-small is-link mb-1') do %>
  <i class="fa-light fa-sync"></i>
  <span class="pl-1"><% t('.sync') %></span>
<% end %>
