<div class="breadcrumb has-succeeds-separator">
  <ul>
    <li><%= link_to t('wechat.panel.providers.index.title'), { controller: 'providers' } %></li>
    <li><%= link_to t('wechat.panel.suites.index.title'), { controller: 'suites', provider_id: params[:provider_id] } %></li>
    <li class="is-active"><%= t('.title') %></li>
  </ul>
</div>
