<th>
  <p><%= Wechat::SuiteTicket.human_attribute_name(:info_type) %></p>
  <p><%= Wechat::SuiteTicket.human_attribute_name(:created_at) %></p>
</th>
<th style="width: 40%"><%= Wechat::SuiteTicket.human_attribute_name(:message_hash) %></th>
