<li><%= link_to t('wechat.admin.agents.index.title'), { controller: 'agents', anchor: "tr_#{@agent.id}" } %></li>
<li><span class="px-3"><%= @agent.name %></span></li>
<li class="is-active"><%= t('.title') %></li>
