<div class="ui top attached tabular menu">
  <%= link_to t('wechat.admin.wechat_tags.index.title'), admin_wechat_app_wechat_tags_path(@wechat_app), class: active_helper(controllers: 'wechat_tags') %>
  <%= link_to t('wechat.admin.wechat_users.index.title'), admin_wechat_app_wechat_users_path(@wechat_app), class: active_helper(controllers: 'wechat_users') %>
</div>
