<div class="tabs">
  <ul>
    <li class="<%= active_helper(controllers: 'tags', active: 'is-active') %>">
      <%= link_to t('wechat.admin.tags.index.title'), { controller: 'tags' } %>
    </li>
    <li class="<%= active_helper(controllers: 'wechat_users', active: 'is-active') %>">
      <%= link_to t('wechat.admin.wechat_users.index.title'), { controller: 'wechat_users' } %>
    </li>
  </ul>
</div>
