<%= search_form_with model: WechatConfig.new do |f| %>
  <div class="fields">
    <%= f.text_field :name %>
    <%= f.submit %>
    <%= link_to t('.clear'), filter_params(only: [:name]), class: 'ui button' %>
  </div>
<% end %>
