<%= link_to new_admin_wechat_app_wechat_tag_path(@wechat_app), remote: true, class: 'button is-link' do %>
  <i class="fas fa-plus"></i><span><%= t('.new') %></span>
<% end %>
<%= link_to sync_admin_wechat_app_wechat_tags_path(@wechat_app), method: :post, remote: true, class: 'button is-link' do %>
  <i class="fas fa-sync-alt"></i><span><%= t('.sync') %></span>
<% end %>
