<div class="media">
  <div class="media-content">
    <%= yield %>
  </div>
  <div class="media-right as-x">
    <% if Current.session.uid == model.uid %>
      <%= svg_tag 'check', class: 'icon is-small text-success' %>
    <% end %>
    <%= button_to({ action: 'actions', id: model.id }, class: 'button is-borderless') do %>
      <i class="fa-solid fa-lg fa-ellipsis-h text-grey"></i>
    <% end %>
  </div>
</div>
