<div class="box as-bar">
  <%= link_to({ controller: 'auth/board/home' }, class: 'px-4') do %>
    <%= svg_tag 'angle-left', kind: 'regular' %>
  <% end %>
  <span class="weui-title"><%= t('.title') %></span>
  <i class="px-5"></i>
</div>

