<td>
  <span style="display: inline-block"></span>
  <% if model.menus.size > 0 %>
    <%= svg_tag 'caret-down', data: { action: 'click->tree#collapse' }, class: 'icon is-small clickable' %>
  <% else %>
    <%= svg_tag 'minus' %>
  <% end %>
  <span><%= model.name %></span>
</td>
<td colspan="2"></td>
<td><strong class="text-success"><%= model.position %></strong></td>
<td></td>
