<th>
  <p><%= Wechat::CorpUser.human_attribute_name(:userid) %></p>
  <p class="color-grey"><%= Wechat::CorpUser.human_attribute_name(:identity) %></p>
</th>
<th>
  <p><%= Wechat::CorpUser.human_attribute_name(:device_id) %></p>
  <p><%= Wechat::CorpUser.human_attribute_name(:open_userid) %></p>
</th>
