<%= link_to({ action: 'sync', appid: params[:appid] }, method: :post, class: 'button is-link') do %>
  <i class="fas fa-sync"></i><span><% t('.sync') %></span>
<% end %>
<%= link_to({ action: 'new', appid: params[:appid] }, class: 'button is-link') do %>
  <i class="fas fa-plus"></i><span><% t('.new') %></span>
<% end %>
<%= link_to({ action: 'new_parent', appid: params[:appid] }, class: 'button is-link') do %>
  <i class="fas fa-plus"></i><span><% t('.new_parent') %></span>
<% end %>
