<th>
  <p><%= Org::Member.human_attribute_name(:name) %></p>
  <p class="has-text-grey"><%= Org::Member.human_attribute_name(:identity) %></p>
</th>
<th><%= Org::Member.human_attribute_name(:join_on) %></th>
<th><%= Org::Member.human_attribute_name(:wechat_openid) %></th>
