<div>
  <dt><%= Wechat::Register.human_attribute_name(:id_name) %></dt>
  <dd><%= @register.id_name %></dd>
</div>
<div>
  <dt><%= Wechat::Register.human_attribute_name(:id_number) %></dt>
  <dd><%= @register.id_number %></dd>
</div>
