<div class="box flex-grow-1 mx-3">
<%= form_with theme: 'default_phone', model: @register, url: { action: 'update' } do |f| %>
  <%= render 'error_messages', target: f.object %>
  <div class="form-fields">
    <div class="weui-cells__group weui-cells__group_form">
      <div class="weui-cells__title">开通公众号 / 专用邮箱</div>
      <div class="weui-cells weui-cells_form">
        <%= f.text_field :mobile_code %>
      </div>
    </div>
  </div>
  <%= f.submit nil, wrap: { all: nil } %>
<% end %>
</div>
