<div class="box p-0">
  <div class="media as-list">
    <div class="media-left">
      <%= svg_tag 'circle-1' %>
    </div>
    <div class="media-content">
      <span>dddd</span>
    </div>
  </div>
  <div class="media as-list">
    <div class="media-left">
      <%= svg_tag 'circle-2' %>
    </div>
    <div class="media-content">
      dddd2
    </div>
  </div>
</div>