<div class="panel is-fit">
  <div class="panel-heading text-centered">
    <h4>微信登陆</h4>
  </div>
  <div class="panel-block flex-direction-column background-white justify-content-center">
    <figure>
      <% if @scene %>
        <%= image_tag @scene.qrcode_data_url, id: 'login_qrcode' %>
      <% else %>
        <%= image_tag svg_data_url('placeholder.svg'), id: 'login_qrcode' %>
      <% end %>
      <figcaption class="text-centered">请使用微信扫描二维码登录</figcaption>
    </figure>
    <p id="login_count_down" data-controller="count-down" class="display-none">
      <span data-count-down-target="count"><%= @scene&.remaining_seconds %></span>
      <span>秒后过期</span>
    </p>
  </div>
  <div class="panel-block background-white justify-content-center">
    <%= link_to({ controller: 'auth/sessions', action: 'new', **params.permit(:state) }) do %>
      <i class="fa-solid fa-user"></i>
      <span class="text-grey">账号密码登录</span>
    <% end if defined? RailsAuth %>
  </div>
</div>
