<div class="columns is-gapless is-vcentered mb-0">
  <div class="column is-relative is-8 display-none-mobile">
    <div class="hero is-fullheight background-login">
    </div>
  </div>
  <div class="column is-4 is-relative">
    <div class="has-page-centered px-6">
      <div id="alert"></div>
      <%= render 'sign_form' %>
    </div>
  </div>
</div>
