<div class="hero">
  <div class="hero-head has-text-centered">
    <h6 class="title">微信登陆</h6>
    <p>请使用微信扫描二维码登录</p>
  </div>
  <div class="hero-body has-text-centered">
    <%= image_tag @scene.qrcode_data_url %>
  </div>
</div>
