<li><%= link_to t('.partners.index.title'), { controller: 'partners', anchor: "tr_#{params[:partner_id]}" } %></li>
<li><span class="px-3"><%= @partner.name %></span></li>
<li class="is-active"><%= t('.title') %></li>
