<div>
  <dt><%= Wechat::AppConfig.human_attribute_name(:key) %></dt>
  <dd><%= @app_config.key %></dd>
</div>
<div>
  <dt><%= Wechat::AppConfig.human_attribute_name(:value) %></dt>
  <dd><%= @app_config.value %></dd>
</div>
