<tr>
  <td class="has-text-right"><%= Wechat::AppConfig.human_attribute_name(:key) %></td>
  <td><%= @app_config.key %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Wechat::AppConfig.human_attribute_name(:value) %></td>
  <td><%= @app_config.value %></td>
</tr>
