<th>
  <p><%= Wechat::Template.human_attribute_name(:title) %></p>
  <p class="text-grey"><%= Wechat::Template.human_attribute_name(:template_id) %></p>
</th>
<th style="width: 40%">
  <p><%= Wechat::Template.human_attribute_name(:content) %></p>
  <p><%= Wechat::Template.human_attribute_name(:example) %></p>
</th>
<th></th>
<th></th>