<th><%= Wechat::Platform.human_attribute_name(:name) %></th>
<th style="width: 70%">
  <p><%= Wechat::Platform.human_attribute_name(:appid) %></p>
  <p><%= Wechat::Platform.human_attribute_name(:token) %></p>
  <p><%= Wechat::Platform.human_attribute_name(:encoding_aes_key) %></p>
</th>
