<th>
  <p><%= Wechat::Platform.human_attribute_name(:name) %></p>
  <p><%= Wechat::Platform.human_attribute_name(:domain) %></p>
</th>
<th style="width: 70%">
  <p><%= Wechat::Platform.human_attribute_name(:appid) %></p>
</th>
