<th>
  <%= Org::Organ.human_attribute_name(:name) %>(<%= Org::Organ.human_attribute_name(:name_short) %>)
</th>
<th>
  <p><%= Org::Organ.human_attribute_name(:corpid) %></p>
</th>
<th><%= Org::Organ.human_attribute_name(:official) %></th>
