<th><%= Org::Organ.human_attribute_name(:name) %></th>
<th><%= Org::Organ.human_attribute_name(:name_short) %></th>
<th><%= Org::Organ.human_attribute_name(:appid) %></th>
<td><%= Org::Organ.human_attribute_name(:created_at) %></td>
