<%= link_to({ controller: '/me/home', host: organ.host }, class: 'weui-cell weui-cell_access') do %>
  <div class="weui-cell__bd"><%= organ.name %></div>
  <div class="weui-cell__ft"></div>
<% end %>
