<%= link_to({ controller: '/me/home', host: organ.host, auth_token: current_authorized_token.id }, class: 'weui-cell weui-cell_access') do %>
  <div class="weui-cell__bd"><%= organ.name %></div>
  <div class="weui-cell__ft"></div>
<% end %>
