<li><%= link_to t('.payees.index.title'), { controller: 'payees', anchor: "tr_#{@payee.id}" } %></li>
<li><span class="px-3"><%= @payee.name %></span></li>
<li class="is-active"><%= t('.title') %></li>
