<th>
  <p><%= Wechat::CorpUser.human_attribute_name(:identity) %></p>
  <p><%= Wechat::CorpUser.human_attribute_name(:user_id) %></p>
</th>
<th>
  <p><%= Wechat::CorpUser.human_attribute_name(:device_id) %></p>
  <p><%= Wechat::CorpUser.human_attribute_name(:open_userid) %></p>
</th>
