<div class="breadcrumb has-succeeds-separator">
  <ul>
    <li><%= link_to t('wechat.panel.platforms.index.title'), { controller: 'platforms', anchor: "tr_#{params[:platform_id]}" } %></li>
    <li><span class="px-3"><%= @app.type_i18n %></span></li>
    <li><span class="px-3"><%= @app.name %></span></li>
    <li class="is-active"><%= t('.title') %></li>
  </ul>
</div>
