<div class="breadcrumb has-succeeds-separator">
  <ul>
    <li><%= link_to t('wechat.admin.apps.index.title'), { controller: 'apps' } %></li>
    <% if @app %>
      <li><%= link_to @app.name, { controller: 'apps', id: @app.id } %></li>
    <% end %>
    <li class="is-active"><%= t('.title') %></li>
  </ul>
</div>
