<tr>
  <td class="has-text-right"><%= Wechat::ProviderTicket.human_attribute_name(:info_type) %></td>
  <td><%= @provider_ticket.info_type %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Wechat::ProviderTicket.human_attribute_name(:message_hash) %></td>
  <td><%= @provider_ticket.message_hash %></td>
</tr>
