<div class="breadcrumb has-succeeds-separator">
  <ul>
    <li><%= link_to t('wechat.in.apps.index.title'), { controller: 'apps' } %></li>
    <li><span class="px-3"><%= @app.name %></span></li>
    <li class="is-active"><%= t('.title') %></li>
  </ul>
</div>
