<div class="breadcrumb has-succeeds-separator">
  <ul>
    <li><%= link_to t('wechat.panel.platforms.index.title'), { controller: 'platforms' } %></li>
    <li class="is-active"><%= t('wechat.panel.agencies.index.title') %></li>
  </ul>
</div>
