<%= link_to({ action: 'new' }, class: 'button is-link') do %>
  <i class="fa-regular fa-plus"></i><span><%= t('.new') %></span>
<% end %>
<%= button_to({ action: 'sync' }, method: :post, class: 'button is-primary') do %>
  <i class="fa-regular fa-sync-alt"></i><span><%= t('.sync') %></span>
<% end %>
