<tr>
  <td class="has-text-right"><%= Wechat::SuiteTicket.human_attribute_name(:info_type) %></td>
  <td><%= @suite_ticket.info_type %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Wechat::SuiteTicket.human_attribute_name(:message_hash) %></td>
  <td><%= simple_format @suite_ticket.message_hash %></td>
</tr>
