<%= link_to({ controller: 'datum/panel/table_lists', action: 'find', data_list_id: 'RequestDailyExport', **params.permit('created_at-gte', 'created_at-lte') }, data: { turbo_frame: 'modal' }, class: 'button is-link is-small mb-1') do %>
  <i class="fa-light fa-file-excel"></i><span><%= t('.export') %></span>
<% end %>
