<tr>
  <td class="has-text-right"><%= Register.human_attribute_name(:id_name) %></td>
  <td><%= @register.id_name %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Register.human_attribute_name(:id_number) %></td>
  <td><%= @register.id_number %></td>
</tr>
