<div>
  <dt><%= Wechat::PartnerPayee.human_attribute_name(:name) %></dt>
  <dd><%= @partner_payee.name %></dd>
</div>
<div>
  <dt><%= Wechat::PartnerPayee.human_attribute_name(:mch_id) %></dt>
  <dd><%= @partner_payee.mch_id %></dd>
</div>
