<tr>
  <td><%= Wechat::PartnerPayee.human_attribute_name(:name) %></td>
  <td><%= @partner_payee.name %></td>
</tr>
<tr>
  <td><%= Wechat::PartnerPayee.human_attribute_name(:mch_id) %></td>
  <td><%= @partner_payee.mch_id %></td>
</tr>
