<%= form_with theme: nil, url: { action: 'message' }, id: 'chat_form', class: 'box' do |f| %>
  <div class="field">
    <%= f.text_area :content, class: 'textarea is-borderless' %>
  </div>
  <div class="has-block-right">
    <%= button_tag class: 'button' do %>
      <span class="icon">
        <i class="fa-solid fa-xl fa-paper-plane"></i>
      </span>
    <% end %>
  </div>
<% end %>