<div class="column is-6"></div>
<div class="column is-6">
  <div class="panel" style="width: 300px">
    <div class="panel-block background-white text-centered px-0 pt-4">
      <div
        id="wx_reg"
        data-controller="qy-login"
        data-qy-login-options-value="<%= @app.js_login.to_json %>"
      ></div>
    </div>
    <div class="panel-block background-white justify-content-center">
      <%= link_to({ controller: 'auth/sign', action: 'sign' }) do %>
        <%= svg_tag 'user' %>
        <span class="text-grey">账号密码登录</span>
      <% end if defined? RailsAuth %>
    </div>
  </div>
</div>
