<div class="ui modal" id="modal">
  <i class="fas fa-times close"></i>
  <div class="ui header">
    <%= t('.new') %>
  </div>

  <div class="content">
    <%= form_with model: [:admin, @wechat_template, @wechat_notice] do |f| %>
      <%= render partial: 'form', locals: { f: f } %>
      <%= f.submit %>
  <% end %>
  </div>
</div>
