<tr>
  <td class="has-text-right"><%= WechatNotice.human_attribute_name(:notifiable_type) %></td>
  <td><%= @wechat_notice.notifiable_type %></td>
</tr>
<tr>
  <td class="has-text-right"><%= WechatNotice.human_attribute_name(:code) %></td>
  <td><%= @wechat_notice.code %></td>
</tr>
