<tr>
  <td class="has-text-right"><%= Wechat::Notice.human_attribute_name(:notifiable_type) %></td>
  <td><%= @notice.notifiable_type %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Wechat::Notice.human_attribute_name(:code) %></td>
  <td><%= @notice.code %></td>
</tr>
