<%= render 'filter' %>

<table class="table is-hoverable is-fullwidth">
  <thead>
    <tr>
    
    </tr>
  </thead>
  <tbody>
  <% @wechat_notices.each do |wechat_notice| %>
  
  <% end %>
  </tbody>
</table>

<%= paginate @wechat_notices %>
