<th>
  <p><%= Wechat::Receive.human_attribute_name(:appid) %></p>
  <p><%= Wechat::Receive.human_attribute_name(:open_id) %></p>
  <p><%= Wechat::Receive.human_attribute_name(:created_at) %></p>
</th>
<th style="width: 30%"><%= Wechat::Receive.human_attribute_name(:message_hash) %></th>
