<%= form_with model: @response, scope: :response, url: { action: 'update' } do |f| %>
  <div data-controller="common" data-common-url-value="<%= url_for(action: 'filter_reply') %>">
    <%= select_tag :effective_type, options_for_select(Wechat::Reply.options_i18n(:type), @response.reply.type), wrap: { all: nil }, data: { action: 'common#stream' } %>
  </div>
<% end %>
