<tr>
  <td class="has-text-right"><%= Wechat::Response.human_attribute_name(:match_value) %></td>
  <td><%= @response.match_value %></td>
</tr>
<% if @response.qrcode_file.attached? %>
<tr>
  <td class="has-text-right"><%= Wechat::Response.human_attribute_name(:qrcode_file) %></td>
  <td><%= image_tag @response.qrcode_file %></td>
</tr>
<% end %>
