<li><%= link_to t('.platforms.index.title'), { controller: 'platforms', anchor: "tr_#{params[:platform_id]}" } %></li>
<li><span class="px-3"><%= @platform.name %></span></li>
<li class="is-active"><%= t('.title') %></li>
