<div class="buttons are-small mb-0">
  <%= link_to({ action: 'new_parent', appid: params[:appid] }, data: { turbo_frame: 'modal' }, class: 'button is-link') do %>
    <i class="fa-solid fa-plus"></i>
    <span><% t('.new_parent') %></span>
  <% end %>
  <%= link_to({ action: 'new', appid: params[:appid] }, data: { turbo_frame: 'modal' }, class: 'button is-link') do %>
    <i class="fa-solid fa-plus"></i>
    <span><% t('.new') %></span>
  <% end %>
</div>
