<td><strong><%= model.name %></strong></td>
<td colspan="2">
  <%= link_to({ action: 'new', menu_root_id: model.id }, data: { turbo_frame: 'modal' }, class: 'button is-small is-link') do %>
    <i class="fa-solid fa-plus"></i>
    <span><% t('.new.title') %></span>
  <% end %>
</td>
<td><strong class="color-success"><%= model.position %></strong></td>
