<div>
  <dt><%= Wechat::Payee.human_attribute_name(:name) %></dt>
  <dd><%= @payee_app.payee.name %></dd>
</div>
<div>
  <dt><%= Wechat::Payee.human_attribute_name(:mch_id) %></dt>
  <dd><%= @payee_app.payee.mch_id %></dd>
</div>
