<div>
  <dt><%= Wechat::App.human_attribute_name(:type) %></dt>
  <dd><%= @app.type_i18n %></dd>
</div>
<div>
  <dt><%= Wechat::App.human_attribute_name(:name) %></dt>
  <dd><%= @app.name %></dd>
</div>
