<tr>
  <td class="has-text-right"><%= Wechat::App.human_attribute_name(:type) %></td>
  <td><%= @app.type_i18n %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Wechat::App.human_attribute_name(:name) %></td>
  <td><%= @app.name %></td>
</tr>
