<div class="ui modal" id="modal">
  <i class="fas fa-times close icon"></i>
  <div class="ui header">
    <%= t('.edit') %>
  </div>

  <div class="content">
    <%= form_with model: @wechat_response, scope: :wechat_response, url: admin_wechat_app_wechat_response_path(@wechat_app, @wechat_response) do |f| %>
      <%= render partial: 'form', locals: { f: f } %>
    <% end %>
  </div>
</div>
