<table class="ui very basic large table">
  <thead>
    <tr>
      <th class="six wide">
        <%= link_to t('.edit'), edit_admin_wechat_app_wechat_response_path(@wechat_app, @wechat_response), remote: true, class: 'ui mini blue right floated button' %>
      </th>
      <th class="ten wide"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="right aligned"><%= WechatResponse.human_attribute_name(:match_value) %></td>
      <td><%= @wechat_response.match_value %></td>
    </tr>
  </tbody>
</table>
