<div
  data-controller="mini-program"
  data-mini-program-direct-value="true"
  data-mini-program-lanuch-value="true"
  data-mini-program-url-value="/pages/index/index"
  data-mini-program-data-value="<%= { url: url, login: true }.to_json %>"
  class="is-middle"
  style="height: 100%"
>
  <p class="has-text-centered">登录信息失效，等待授权</p>
</div>
