<div
  data-controller="mini-program"
  data-mini-program-direct-value="true"
  data-mini-program-lanuch-value="true"
  data-mini-program-url-value="/pages/login/index"
  data-mini-program-data-value="<%= { path: path, state: state }.to_json %>"
  style="height: 100%;display: flex;justify-content: center;align-items: center"
>
  <p style="color: darkgray">登录信息失效，等待授权</p>
</div>
