<div class="breadcrumb has-succeeds-separator">
  <ul>
    <li><%= link_to t('wechat.panel.wechat_platforms.index.title'), { controller: 'wechat_platforms' } %></li>
    <li><%= t('wechat.panel.wechat_agencies.index.title') %></li>
  </ul>
</div>
