<tr>
  <td class="has-text-right"><%= MenuRoot.human_attribute_name(:name) %></td>
  <td><%= @menu_root.name %></td>
</tr>
<tr>
  <td class="has-text-right"><%= MenuRoot.human_attribute_name(:position) %></td>
  <td><%= @menu_root.position %></td>
</tr>
