<div class="breadcrumb has-succeeds-separator">
  <ul>
    <li><%= link_to t('wechat.panel.template_configs.index.title'), { controller: 'template_configs' } %></li>
    <li class="is-active"><%= t('.title') %></li>
  </ul>
</div>
