<div class="menu-label"><%= t('wechat.my.title') %></div>
<div class="menu-list">
  <%= link_to t('wechat.my.users.invite_qrcode.title'), { controller: 'wechat/my/users', action: 'invite_qrcode' },  class: active_helper('wechat/my/users': ['invite_qrcode'], active: 'is-active') %>
</div>
